# General
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Rust specific
/target/
**/target/
**/*.rs.bk
*.pdb
Cargo.lock

# Logs
*.log
debug_log.txt
matrix_debug.log
matrix_error.log

# IDE specific files
.idea/
.vscode/
**/.idea/
**/.vscode/

# Application bundles
*.app/

# Environment specific
.env
.env.local
